@model StudentModel

<h1>Личный кабинет</h1>
<p>ID: @Model.Id</p>
<p>Email: @Model.Email</p>
<p>Full Name: @Model.FullName</p>
<p>Group Name: @Model.GroupName</p>
<p>Photo</p>
<img src="@Model.PhotoUrl" alt="@Model.FullName"/>
